body{
    font-family: 'Poppins', ;
}

h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half img{
    width: 100%;
}